<!DOCTYPE html>
<html>
<head>
    <title>Parse Column</title>
</head>
<body>
    <h1>Select a Column to Parse</h1>
    <form action="{% url 'parse_column' %}" method="post">
        {% csrf_token %}
        <select name="column">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="file" value="{{ file }}">
        <input type="submit" value="Parse">
    </form>
</body>
</html>
